{% from "head-component/tutorsicon.njk" import tutorsIcon %}

{% macro title(lo, isWall, wallTitle) %}
  <div class="uk-width-1-2@m  uk-card uk-card-default uk-padding-small">
    <div uk-grid>
      <div class="uk-width-1-5@m">
        <img src="{{ lo.img }}" width="60">
      </div>
      <div class="uk-width-expand@m uk-text-left">
        <h2> {{ lo.title }} </h2>
        <div class="uk-text-muted uk-text-small">
          {% if isWall %}
            {{ wallTitle }}
          {% else %}
            {{ lo.properties.credits }}
          {% endif %}
        </div>
      </div>
      <div class="uk-width-1-6@m">
        {{  lo.version}}
        {{ tutorsIcon(lo) }}
      </div>
    </div>
  </div>
{% endmacro %}
