{% macro tutorsIcon(lo) %}
  <div class="uk-card uk-card-small uk-card-hover uk-text-center uk-padding-remove">
    <a target=”_blank” href="https://github.com/edeleastar/tutors-ar">
      <div>
        <i class="fas fa-chalkboard-teacher fa-lg"></i>
      </div>
      <div class="uk-width-expand@m uk-text-left">
        <div class="uk-text-muted uk-text-center" style="font-size:xx-small">
          Tutors {{ lo.title }}
        </div>
      </div>
    </a>
  </div>
{% endmacro %}
